*{
    font-family: Helvetica, "Roboto", sans-serif;
    flex-wrap: wrap;
}

:root {
    --headerheight: 3em;
}

body{
    background: #44444E;
    margin: 0em;
}

h1, h2, h4, h5, h6 {
    color: #D3DAD9;        
}

h3 {
    color:#A48686 
}

p {
    color: #D3DAD9;
    opacity: 85%;
}

a {
    text-decoration: none;
    color: #A48686;
}

ol {
    color: #D3DAD9;
}

.callToActLink, .semiTransparentLink {
    color: #BFC6C4;
    border-radius: 0.7em;
    padding: 0.5em 0.5em;
    margin: 0em 0.5em;
}

.callToActLink {    
    background-color: #A48686;    
}

.semiTransparentLink {    
    border-color: #D3DAD9;
    border-width: 0.1em;
    background-color: #bfc6c430;
}

.navLink {
    color: #A48686;    
}

.topLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:20em;
}

nav {    
    z-index: 1;

    display: flex;    
    flex-direction: row;
    justify-content: space-between;     
    align-items: center;
    width: 100%;

    background-color: #44444E;         
    
    position: fixed;
    top: 0px;
    
    .navLink {           
        margin: 5% 5%;     
    }

    #logo {
        margin: 0em 1em;
    }
}


.title {
    background-image: url('images/plan-ville2.jpeg');
    background-size: cover;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    padding: 4em 1em ;
}

.title h1 {
    font-size: 300%;
}

.titleLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;    
}

.bloc {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5em 0.5em;    
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2em 1em;    
    
}

.whiteFooterLinks a {
    color: #D3DAD9;
}

.FooterLimit {
    width: 100%;

}

 #FooterLimitLine {
    border: none; 
    height: 1px; 
    background-color: #A48686; 
    width: 85%;
}

.footerContent {        
    padding: 1.5em 1.5em;
}   

.footerContent h3 {
    margin: 0em;    
}

.footerLinks {
    display:flex;
    align-items: start;
    justify-content: space-between;     
    color: #A48686;
}

#footerCodexLink {
    padding: 1.5em;
}

.footerSupport {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5em;    
}

.footerSupport > a {
    padding: 0.1em 0.1em 0em 0.7em;
}

.footerSupport h4 {
    margin: 0em;
}   

.content , .blocImage{
    padding: 1em 2em;   
    justify-content: center;
    align-items: center;     
}

.blocImage {
    border-radius: 4em;   
}

@media screen and (max-width: 800px)
{
    .content , .blocImage {      
        width: 95%;        
    }
}
    
@media screen and (min-width: 800.1px)
{
    .content , .blocImage {      
        width: 40%;        
    }
}