*{
    font-family: Helvetica, "Roboto", sans-serif;
    flex-wrap: wrap;
    color: #d3dad9d1; 
}

:root {
    --headerheight: 3em;
}

body{
    background: #44444E;
    margin: 0em;
    overflow-x: hidden;
}

h1, h2, h4, h5, h6 {
    color: #D3DAD9;        
}

h3 {
    color:#A48686 
}

p {
    color: #D3DAD9;
    opacity: 85%;
}

span {
    color: #D3DAD9;
    opacity: 85%;
}

label {
    color: #D3DAD9;
    opacity: 85%;
}

a {
    text-decoration: none;
    color: #A48686;
}

strong {
    color: #A48686;  
}

ol {
    color: #D3DAD9;
}

.callToActLink, .semiTransparentLink {
    color: #BFC6C4;
    border-radius: 0.7em;
    padding: 0.5em 0.5em;
    margin: 0em 0.5em;
}

.callToActLink {    
    background-color: #A48686;    
}

.semiTransparentLink {    
    border-color: #D3DAD9;
    border-width: 0.1em;
    background-color: #bfc6c430;
}

.topLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:20em;
}

nav {
    height: 4em;    
    z-index: 1;

    display: flex;    
    flex-direction: row;
    justify-content: space-between;     
    align-items: center;
    width: 100%;

    background-color: #44444E;         
    
    position: fixed;
    top: 0px;
}

.navLink {           
    margin: 1em;
    color: #A48686;    
}

#logo {
    margin: 0em 1em;
}

.title {
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  

}

.title h1 {
    font-size: 400%;
}

.titleLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;    
}

#indexTitle {
    background-image: url('images/plan-ville2.jpeg');
    
    padding: 9em 1em ;
}

#codexTitle {
    background-image: url('images/background2.jpg');

    padding: 14em 2em ;    
}

#AuthorTitle {
    background-image: url('images/aseprite2.png');
    opacity: 75%;

    padding: 16em 2em ;    
}

#AuthorTitle h1 {
    border-radius: 0.35em;
    padding: 1px 20px;
    background-color: #44444e9b;
    margin: 0px;
    margin-bottom: 13px;
}


#EnlistTitle {
    background-image: url('images/EnlistTitleImage.webp');

    padding: 22em 2em ;   
}

#EnlistTitle h1 {
    border-radius: 0.35em;
    padding: 1px 8px;
    background-color: #44444e9b;
    margin: 0px;
    margin-bottom: 13px;
}

#EnlistTitle h2 {
    border-radius: 0.35em;
    padding: 12px 10px;
    background-color: #44444e9b;
    margin: 10px;
}

#codexTitle h1 {
    border-radius: 0.35em;
    padding: 1px 8px;
    background-color: #44444e9b;
    margin: 0px;
    margin-bottom: 13px;
}

#codexTitle p {
    border-radius: 0.35em;
    padding: 12px 10px;
    background-color: #44444e9b;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 2em 3em;    
    
}

.whiteFooterLinks a {
    color: #D3DAD9;
}

.TransversalLine {
    width: 100%;

}

.footerSupport h4 {
    padding-bottom: 1em;
}

 #TransversalLine {
    border: none; 
    height: 1px; 
    background-color: #A48686; 
    width: 100%;
}

.footerContent {        
    padding: 1.5em 1.5em;
}   

.footerContent h3 {
    margin: 0em;    
}

.footerLinks {
    display:flex;
    align-items: start;
    justify-content: space-between;     
    color: #A48686;
}

#footerCodexLink {
    padding: 1.5em;
}

.footerSupport {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5em;    
}

.footerSupport > a {
    padding: 0.1em 0.1em 0em 0.7em;
}

.footerSupport h4 {
    margin: 0em;
}   


 section {
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  grid-template-rows: 1fr;
 }

.content {
    padding-top: auto;    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:start;
} 

.content p {
    margin: 6px;
    padding-left: 1em;
} 

.content , .blocImage{
    padding: 2em 2em;   
    justify-content: center;
    align-items: flex-center; 
}

.blocImage {
    border-radius: 4em;   
}

img {
  height: auto;
  width: 90%;
  border-radius: 2em;
}

@media (min-width: 860px) {
  section {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(1fr, 500px));
  }
}

:hover > a {
    color: #ffffff;
}

#containsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em;
}

#name-adress label {
    margin: 0.4em 1em;
    padding: 0.5em 1em;
}

#name-adress input {
    margin: 0.4em 2em;
    padding: 0.5em;
    border-radius: 0.8em;
}

.text-entry {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#formBottom {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.formBottom {    
    padding: 0.2em 0em;
}

#text_id {    
    height: 10em;
    width: 50em;
    background-color: #44444E;
    color: #BFC6C4;
    border-width: 3px;
    border-color: #BFC6C4;
    border-radius: 1em;
}

.formBottom input{
    padding: 0.5em 2em;
    border-radius: 0.8em;
    background-color: #A48686;
    color: #BFC6C4;
    border-color: #D3DAD9;
    border-width: 0.1em;
    background-color: #d3dad946;    
}

#survey {
    width: 42em;
}

@media (max-width: 760px) {
    #name-adress label {
        margin: 0.4em 1em;
        padding: 0.5em 1em;
    }

    #name-adress input {
        margin: 0.4em 1em;
        padding: 0.4em;
        border-radius: 0.8em;
    }

    .text-entry {
        display: flex;    
        align-items: center;
        justify-content: space-between;
        flex-direction: collumn;
    
    }

    #formBottom {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .formBottom {    
        padding: 0.2em 0em;
    }

    #text_id {    
        height: 10em;
        width: 34em;
    }

    .formBottom input{
        padding: 0.5em 2em;   
    }

    #survey {
        width: 28em;
    }
}

.fakeHeaderCollider {
    height: 4em;
}

#hobbiesPresentation {
    display: flex;
    flex-direction: collumn;
    align-items: center;
}

#hobbyImages {
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

.hobbyImages {
    display: flex;
    justify-content: space-between;
    align-items: row;
    width: 30em;
    padding: 1em;
    border-radius: 5em;
}
